<section class="updated">
    <div>
        <form action="">
            <div *ngIf="element">
                <h3>UPDATE</h3>
                
                <div class="form-control">
                    <input type="hidden" [(ngModel)]="element.id">
                </div>
                
                <div class="form-control">
                    <input type="text" [(ngModel)]="element.images">
                </div>
                
                <div class="form-control">
                    <input type="number" [(ngModel)]="element.price">
                </div>
                
                <div class="form-control">
                    <input type="text" [(ngModel)]="element.name">
                </div>
                <button (click)="updateData()"> Update </button> 
            </div>
        </form>
    </div>
</section>