<header>
    <a href="#" class="logo"><img src="assets/p-removebg-preview.png" alt="Logo"></a>
    <i class='bx bx-menu' id="menu_icon"></i>
    <ul class="navbar">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#products">CoLllect on</a></li>
        <li><a href="#cart">Donation page</a></li>
    </ul>
    <div class="header_icon">
        <a href="#cart"><i class='bx bx-cart' ></i></a>
        <i class='bx bx-search-alt' id="search_icon"></i>
    </div>
    <div class="search_box">
        <input type="search" name="" id="" placeholder="Search...">
    </div>
</header>