<!-- <section class="form">
    <form class="edit-form">
        
        <div class="pole">
            <div class="form-control"> 
                <input type="text" #img (keyup)="getImg(img.value)" name="img" required class="input">     
                <label><span style="transition-delay:0ms">I</span><span style="transition-delay:50ms">m</span><span style="transition-delay:100ms">a</span><span style="transition-delay:150ms">g</span><span style="transition-delay:200ms">e</span></label>
            </div>
        </div>
            
        <div class="pole">
            <form #f="ngForm" (keyup)="getPrice(f)">
                <div class="form-control">
                    <input type="number" name="price" ngModel  required class="input">
                    <label><span style="transition-delay:0ms">P</span><span style="transition-delay:50ms">r</span><span style="transition-delay:100ms">i</span><span style="transition-delay:150ms">c</span><span style="transition-delay:200ms">e</span></label>     
                </div>
            </form>
        </div>

        <div class="pole">
            <div class="form-control">
                <input type="text" #box (keyup)="getName(box.value)" name="name" required class="input">
                <label><span style="transition-delay:0ms">N</span><span style="transition-delay:50ms">a</span><span style="transition-delay:100ms">m</span><span style="transition-delay:150ms">e</span></label>    
            </div>
        </div>
                
    </form>
        

    <button (click)="OnClick()" class="Send" >Add</button>

</section> -->
