<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin pagee</title>
<!--    <link rel="stylesheet" th:href="@{/css/index.css}">-->
</head>
<body>
<div class="container">
    <h1>Admin pager</h1>
    <a href="toadd" class="add">Create new</a>
    <table cellpadding="20">
        <thead>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>image</th>
            <th>price</th>
            <th>To Do</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element : ${listElement}">
            <td th:text="${element.id}">ID</td>
            <td th:text="${element.name}">name</td>
            <td><img th:src="${element.images}" width="150" height="150"/></td>
            <td th:text="${element.price}">price</td>
            <td>
                <a th:href="@{/update/{id}(id=${element.id})}">Update</a>
                <br/><br/>
                <a th:href="@{/delete/{id}(id=${element.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>