<section class="home" id="home">
    <div class="home_text">
        <h1>A platform that unites everyone who cares. Collection of funds for the needs of the Armed Forces of Ukraine</h1>
        <a href="#cart" class="btn">Go to charity now</a>
    </div>

    <ul class="element">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    
</section> 
