section {
  padding: 50px 100px;
}

.home {
  width: 100%;
  min-height: 100vh;
  background: #011627;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 1.5rem;
  z-index: -1;
}
.home .home_text h1 {
  font-size: 3.4rem;
  color: #e6e6ef;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0.5rem 0 1.4rem;
}
.home .btn {
  padding: 10px 40px;
  border-radius: 0.3rem;
  background: rgba(174, 192, 224, 0.6549019608);
  color: #e6e6ef;
  font-weight: 500;
}
.home .btn:hover {
  background: rgba(74, 115, 168, 0.6156862745);
}
.home .element li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #43c6e4;
  box-shadow: 0 0 0 10px rgba(67, 198, 228, 0.3333333333);
  position: absolute;
  animation: animate 12s linear infinite;
  transform: translateY(360vh);
}
.home .element li:nth-child(even) {
  background: #fffb2d;
  box-shadow: 0 0 0 10px rgba(255, 251, 45, 0.3333333333);
}
.home .element li:nth-child(1) {
  left: 3vw;
  animation-delay: 1s;
}
.home .element li:nth-child(2) {
  left: 8vw;
  animation-delay: 5s;
}
.home .element li:nth-child(3) {
  left: 14vw;
  animation-delay: 2s;
}
.home .element li:nth-child(4) {
  left: 20vw;
  animation-delay: 11s;
}
.home .element li:nth-child(5) {
  left: 25vw;
  animation-delay: 4s;
}
.home .element li:nth-child(6) {
  left: 30vw;
}
.home .element li:nth-child(7) {
  left: 35vw;
  animation-delay: 6s;
}
.home .element li:nth-child(8) {
  left: 40vw;
  animation-delay: 8s;
}
.home .element li:nth-child(9) {
  left: 45vw;
  animation-delay: 3s;
}
.home .element li:nth-child(10) {
  left: 50vw;
  animation-delay: 10s;
}
.home .element li:nth-child(11) {
  left: 55vw;
  animation-delay: 7s;
}
.home .element li:nth-child(12) {
  left: 60vw;
  animation-delay: 2s;
}
.home .element li:nth-child(13) {
  left: 65vw;
  animation-delay: 6s;
}
.home .element li:nth-child(14) {
  left: 70vw;
  animation-delay: 8s;
}
.home .element li:nth-child(15) {
  left: 75vw;
}
.home .element li:nth-child(16) {
  left: 79vw;
  animation-delay: 3s;
}
.home .element li:nth-child(17) {
  left: 82vw;
  animation-delay: 9s;
}
.home .element li:nth-child(18) {
  left: 87vw;
  animation-delay: 11s;
}
.home .element li:nth-child(19) {
  left: 91vw;
  animation-delay: 6s;
}
.home .element li:nth-child(20) {
  left: 95vw;
  animation-delay: 10s;
}
@keyframes animate {
  0% {
    transform: translateY(40vh) scale(0);
  }
  100% {
    transform: translateY(-50vh) scale(1);
  }
}

@media (max-width: 1058px) {
  section {
    padding: 50px 60px;
  }
  .home_text h1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 991px) {
  section {
    padding: 50px 4%;
  }
  .home_text h1 {
    font-size: 2rem;
  }
}
@media (max-width: 360px) {
  .home_text {
    padding-top: 15px;
  }
  .home_text h1 {
    font-size: 1.4rem;
  }
  .home_text p {
    font-size: 0.8rem;
    font-weight: 300;
  }
}/*# sourceMappingURL=home.component.css.map */